aiogram==2.25.2
aiohttp==3.8.6
aiosignal==1.4.0
aiosqlite==0.21.0
async-timeout==4.0.3
attrs==25.4.0
Babel==2.9.1
certifi==2025.10.5
charset-normalizer==3.4.4
frozenlist==1.8.0
greenlet==3.2.4
idna==3.11
magic-filter==1.0.12
multidict==6.7.0
propcache==0.4.1
python-dotenv==1.2.1
pytz==2025.2
SQLAlchemy==2.0.44
typing_extensions==4.15.0
yarl==1.22.0
redis==7.0.1
